@using Webdiyer.WebControls.Mvc
@model PagedList<ZCJ.Model.SiteParameter>
@{
    ViewBag.Title = "参数列表";
}



@using (Html.BeginForm())
{
    <table class="table table_all">
        <tr>
            <td>参数类型</td>
            <td>
                @Html.DropDownList("ParameterType", ZCJ.BLL.SiteParameterBLL.GetParameterTypeList())
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="查询" />
                <input type="hidden" value="" name="" />
            </td>
        </tr>
    </table>    
}


<table class="table table_all">
    <tr class="info">
        <td>
            @Html.DisplayNameFor(m => m.id)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.ParameterName)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.ParameterType)
        </td>
        <td>
            @Html.DisplayNameFor(m => m.Remark)
        </td>
        <td>操作
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.id
            </td>
            <td class="paddingleft">
                @Html.ActionLink(item.ParameterName, "Edit", "SiteParameter", new { id = item.id }, null)
            </td>
            <td class="paddingleft">
                @item.ParameterType
            </td>
            <td class="paddingleft">
                @item.Remark
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", "SiteParameter", new { id = item.id }, null) /
                @Html.ActionLink("删除", "Delete", "SiteParameter", new { id = item.id }, null)
            </td>
        </tr>
    }
</table>
@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageIndex" })